.day
  display: flex
  flex-direction: row
  color: #ffff
  font-family: ArealAMU
  margin: 2.5vh
  .day-icon
    font-size: 1.5em
    margin: -0.1em .35em 0em
  .day-text
    flex-shrink: 5
    flex-basis: 14.5em
  .day-icon
    color: #fffb00

@media screen and ( max-width: 367px )
  .day
    .day-text
      flex-basis: 13em

@media screen and ( max-width: 348px )
  .day
    .day-text
      flex-basis: 12em

@media screen and ( max-width: 332px )
  .day
    .day-text
      flex-basis: 11em
  
  

