.aqi-block
  height: 6em
  width: 22.4em
  margin: .5em
  display: flex
  flex-direction: row
  border-radius: .7em
  background: #a6deff

.aqi-block-title
  color: #fff
  font-family: ArealAMU
  font-size: .7em
  padding: .7em .5em .5em 1em

.aqi-block-text
  color: #fff
  font-family: ArealAMU
  font-size: 1.75em
  padding: .7em .5em .5em 1em

.aqi-block-more
  color: #fff
  font-family: ArealAMU
  font-size: .95em
  margin: 4.5em 0em 0em 1.75em
  align-self: end

.aqi-block-icon
  font-size: 1.25em