body
  overflow: hidden
  
.main
  height: 100vh
  background: linear-gradient(to top left, #cfcd29, #fff9aa)
  

.header
  color: white
  text-align: center
  font-size: 5vh
  
.img
  background: url('/images/mountain.png') no-repeat center center 
  background-size: cover 
  height: 80% 
  width: 100%
  position: absolute
  bottom: -30vh


